table {
  background: black;
  position: absolute;
  width: 1350px;
  top: 0px;
  left: 0px;
  right: 0px;
}

p.header {
  font-family: 'Montserrat';
  color: #CF960C;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 10px
}

div {
  background-image: "comida.jpg";
}

a {
  color: #CF960C;
  text-decoration: none;
}

a.visitado {
  color: #fff;
}

a:hover {
  color: #b68209;
}

body {
    background-image: url(https://emc.acidadeon.com/dbimagens/20110520141223.jpg);
  background-repeat: no repeat;
  background-size: cover;
}
.comidas{
  text-align: center;
  font-size:30px;
  border: 1;
  border-style: solid;
  border-color: #CF960C;
  color: #CF960C;
  background-color: black;
  position: absolute;
  top: 300px;
  left: 200px;
  width: 400px;
  height: 250px;
}
.bebidas{
  border: 1;
  font-size: 30px;
  text-align: center;
  background-color: black;
  border-style: solid;
  border-color: #CF960C;
  color: #CF960C;
  position: absolute;
  top: 300px;
  left: 800px;
  width: 400px;
  height: 250px;
}


